<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Team</title>
  </head>
  <body>
    <section class="container">
    <div class="row mt-5 mb-3">
      <div class="col">
        <h1 class="text-center">Voici la super team qui a produit ce site</h1>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" <%= image_tag "yoda.jpg"%>
        <div class="card-body">
          <p class="card-text">
            Bonnes relations avec les Wookies, j’entretiens.
          </p>
          <small class="text-muted">Yoda, Octobre 2019</small>
        </div>
      </div>
        <div class="card">
          <img class="card-img-top" <%= image_tag "chewbi.jpg"%>
          <div class="card-body">
            <p class="card-text">
              Rrwwgawwrrggawwrr
            </p>
            <small class="text-muted">chewbi, Avril 2019</small>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
