<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gossip Project</title>
  </head>
  <body>

    <section class="jumbotron text-center mb-0">
      <div class="container mt-5 mt-md-4 mt-lg-3 pt-5 pt-md-4 pt-lg-3" id="jumjum">
        <div class="row justify-content-md-center">
          <div class="col-sm-6 col-sm-offset-3 mb-3">
            <div class="card">
              <div class="card-body">
                <p class="card-text">
                  <h1 class="police mt-4">Bienvenue</h1>
                  <h2 class="police mt-4">sur The Gossip Project</h2>
                  <h4 class="police mt-4"><a href="welcome/identification"><button class="btn btn-primary"type="button" name="button">Connexion</button></a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>





  </body>
</html>
