<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <section class="container">
    <div class="row mt-5 mb-3">
      <div class="col">
        <h1 class="text-center">Bienvenue sur ce super site <%= @current_user.first_name %> </h1>
          <img class="card-img-top" <%= image_tag "image.gif"%>
      </div>
    </div>
  </section>
  </body>
</html>
